
body{
    background-image: url("../images/SouthFromRainier.jpg");
    background-size: 100%;
}


header{
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: right;
    /*top: 0;
    left:0;
    width: 100%;
    position: fixed;
    */
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: -10px;
    
    
}

h1{
    background-color: #4aaaa5;
    width: 260px;
    height: 40px;
    padding: 20px;
    margin: 0px;
    text-align:left;
    color: white;
    position: absolute;
    left: 25%;
}

button{
    height: 80px;
    width: 100px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border-color: transparent;
    border-right-color: darkgrey;  
}
.button3{
    border-right-color: white;
    background-color: black;
    font: yellow;
}

.container{
    /*width: 960px; Only Way to get the Header to span the entire top of page*/
    /*width: 100%;*/
    /*align-self: 0;*/
    border-color: #dddddd;
    margin: auto;
    margin-top: 10px;
    background-color: #ffffff;
    
    
}

#bio{
    text-align: left;
    background-color: #ffffff;
    border-color: #dddddd;
    border: 10px;
    /*position: fixed;*/
    height: 100%;
    width: 960px;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: relative;
    left: 25%;
    
}

#img{
    /*loat: left;*/
}

h2{
    text-align: left;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

footer{
    background-color: #666666;
    text-align: center;
    float: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 50px;
    border-color: #4aaaa5;
    
}

