/*h3{
    float:right;
    color: blue;
    margin: 10px;

}*/

#bio{
    text-align: center;
    background-color: #ffffff;
    border-color: #dddddd;
    border: 10px;
    position: fixed;
    height: 550px;
    width: 960px;
    margin: 0px;

}

h2{
    text-align: left;
}

h1{
    background-color: #4aaaa5;
    width: 27%;
    height: 40px;
    padding: 10px;
    margin: 0px;
}

header{
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: right;
    
}

footer{
    background-color: #666666;
    text-align: center;
    float: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 50px;
    border-color: #4aaaa5;
    
}

.container{
    width: 960px;
    align-self: 0;
    border-color: #dddddd;
    margin: auto;
    background-color: #ffffff;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body{
    background-image: url("dark-honeycomb.png");
}

button{
    height: 50px;
    width: 100px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border-color: transparent;
    border-right-color: grey;
}